@media (min-width:1440px){
  .screen p {
    font-family: sans-serif;
    font-size: 36pt;
    color: white;
    margin: auto;
    display: none;
  }
  .screen{
    height: 100%;
    width: 100%;
    display: flex;
    background-color:green;
  }
  .screen .desktop-xl{
    display: block;
  }
}
