@media (min-width:1024px) and (max-width: 1439px){
  .screen{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: red;
  }
  .screen p {
    font-family: sans-serif;
    font-size: 36pt;
    color: white;
    margin: auto;
    display: none;
  }
  .screen .desktop{
    display: block;
  }
}
