@media (min-width:1024px) and (max-width: 1439px){
  .cards{
    width: 80%;
  }
  .cards{
    display: flex;
    justify-content: space-around;
  }
  .card{
    width: 30%;
  }
  .card p{
    font-size: 16pt;
    line-height: 20pt;
  }
  .cardImage{
    width: 100%;
    height: 18%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
