@charset "UTF-8";
@import url(owl.carousel.min.css);
@font-face {
  font-family: Pompadur;
  /* Имя шрифта */
  src: url(../fonts/pompadur.ttf);
  /* Путь к файлу со шрифтом */ }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  overflow-x: hidden; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#underline {
  border-bottom: solid 1px #979797; }

@media (min-width: 1440px) {
  .headerMobile {
    display: none; }
  header {
    margin: 0 auto;
    width: 1200px;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 20;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: white; }
    header .logo {
      margin-top: 67px;
      width: 149px;
      height: 74px;
      background-image: url(../img/logo.svg);
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    header .headerLinks {
      width: 307px;
      height: 28px;
      margin-top: 69px;
      margin-left: 450.5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      header .headerLinks a {
        font-family: "FuturaDemiC", sans-serif;
        font-size: 16px;
        letter-spacing: 3px;
        color: #000000;
        text-decoration: none; }
    header .headerLanguage {
      width: 41px;
      height: 41px;
      margin-top: 55px;
      margin-left: 252.5px;
      border: solid 1px #c6c6c6;
      border-radius: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      header .headerLanguage p {
        -webkit-transform: translate3d(1px, 2px, 0);
        transform: translate3d(1px, 2px, 0);
        font-family: "FuturaDemiC";
        font-size: 14px;
        letter-spacing: 1.8px; }
        header .headerLanguage p::-moz-selection {
          background: transparent; }
        header .headerLanguage p::selection {
          background: transparent; }
    header .headerLine {
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #c8c8c8;
      top: 340px;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  .headerShrinked {
    height: 120px; }
    .headerShrinked .logo {
      margin-top: 20px; }
    .headerShrinked .headerLinks {
      margin-top: 50px; }
    .headerShrinked .headerLanguage {
      margin-top: 37px; }
    .headerShrinked .headerLine {
      width: 4000px;
      top: 120px;
      left: -1000px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .headerMobile {
    display: none; }
  header {
    margin: 0 auto;
    width: 960px;
    height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    position: fixed;
    z-index: 20;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: white; }
    header .logo {
      margin-top: 38px;
      width: 149px;
      height: 74px;
      background-image: url(../img/logo.svg);
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    header .headerLinks {
      width: 311px;
      height: 28px;
      margin-top: 39px;
      margin-left: 331px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      header .headerLinks a {
        font-family: "FuturaDemiC", sans-serif;
        font-size: 16px;
        letter-spacing: 4px;
        color: #000000;
        text-decoration: none; }
    header .headerLanguage {
      width: 41px;
      height: 41px;
      margin-top: 25px;
      margin-left: 127px;
      border: solid 1px #c6c6c6;
      border-radius: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      header .headerLanguage p {
        -webkit-transform: translate3d(1px, 2px, 0);
        transform: translate3d(1px, 2px, 0);
        font-family: "FuturaDemiC";
        font-size: 14px;
        letter-spacing: 1.8px; }
        header .headerLanguage p::-moz-selection {
          background: transparent; }
        header .headerLanguage p::selection {
          background: transparent; }
    header .headerLine {
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #c8c8c8;
      top: 260px;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  .headerShrinked {
    height: 100px; }
    .headerShrinked .logo {
      margin-top: 12px; }
    .headerShrinked .headerLinks {
      margin-top: 40px; }
    .headerShrinked .headerLanguage {
      margin-top: 25px; }
    .headerShrinked .headerLine {
      width: 4000px;
      top: 100px;
      left: -1000px; } }

@media (max-width: 420px) {
  header {
    margin: 0 auto;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "FuturaDemiC";
    display: flex;
    position: fixed;
    z-index: 20;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    header .headerMobile {
      width: 340px;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      header .headerMobile .headerMobileTop {
        height: 110px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        header .headerMobile .headerMobileTop .mobileLogo {
          margin-top: 20px;
          width: 65px;
          height: 32px;
          background-image: url(../img/logo.svg);
          background-size: contain;
          background-repeat: no-repeat;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        header .headerMobile .headerMobileTop .headerMobileBurger {
          margin-top: 20px;
          width: 33px;
          height: 22px;
          background-image: url(../img/burger.svg);
          background-size: contain;
          background-repeat: no-repeat;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        header .headerMobile .headerMobileTop .headerMobileClose {
          display: none;
          margin-top: 20px;
          width: 25px;
          height: 26px;
          background-image: url(../img/close.svg);
          background-size: contain;
          background-repeat: no-repeat;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
      header .headerMobile .headerMobileLinks {
        display: none;
        margin-top: 60px;
        padding-bottom: 67px;
        height: 280px;
        display: none;
        border-bottom: solid 1px #c8c8c8;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        header .headerMobile .headerMobileLinks a {
          display: block;
          text-align: center;
          font-size: 16px;
          line-height: 4.38;
          letter-spacing: 3px;
          text-decoration: none;
          color: black; }
      header .headerMobile .headerMobileSocial {
        margin-top: 25px;
        display: none;
        text-align: center;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        header .headerMobile .headerMobileSocial a {
          text-decoration: none;
          color: black;
          padding: 0px 13px 0px 13px; }
    header .headerLinks {
      display: none; }
    header .headerLanguage {
      display: none; }
    header .logo {
      display: none; }
  .headerShrinked {
    height: 70px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; } }

@media (min-width: 1440px) {
  footer {
    margin: 0 auto;
    width: 1200px;
    border-top: solid 1px #d2d2d2; }
    footer .footerBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 78px;
      border-bottom: solid 1px #d2d2d2; }
      footer .footerBlock .footerHeading {
        margin-top: 44px;
        font-family: "Futura";
        font-size: 40px;
        font-weight: 500;
        line-height: 0.95;
        letter-spacing: 2px; }
      footer .footerBlock .footerContacts {
        margin-top: 41px;
        margin-left: 370px;
        width: 240px;
        height: 210px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        footer .footerBlock .footerContacts p {
          font-family: "FuturaDemiC";
          font-size: 16px;
          line-height: 1.88;
          letter-spacing: 2px; }
    footer .footerCopyright {
      margin-top: 17px;
      padding-bottom: 102px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: "HelveticaNeue";
      font-size: 16px;
      line-height: 3.13;
      color: #c5c5c5; }
      footer .footerCopyright #sulliwanCaption {
        margin-left: 380px; }
      footer .footerCopyright #orientirCaption {
        margin-left: 70px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  footer {
    margin: 0 auto;
    width: 960px;
    border-top: solid 1px #d2d2d2; }
    footer .footerBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 70px;
      border-bottom: solid 1px #d2d2d2; }
      footer .footerBlock .footerHeading {
        margin-top: 38px;
        font-family: "Futura";
        font-size: 30px;
        font-weight: 500;
        line-height: 1.27;
        letter-spacing: 2px; }
      footer .footerBlock .footerContacts {
        margin-top: 42px;
        margin-left: 306px;
        width: 240px;
        height: 210px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        footer .footerBlock .footerContacts p {
          font-family: "FuturaDemiC";
          font-size: 16px;
          line-height: 1.88;
          letter-spacing: 2px; }
    footer .footerCopyright {
      margin-top: 9px;
      padding-bottom: 70px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: "HelveticaNeue";
      font-size: 14px;
      line-height: 3.53;
      color: #c5c5c5; }
      footer .footerCopyright #sulliwanCaption {
        margin-left: 359px; }
      footer .footerCopyright #orientirCaption {
        margin-left: 50px; } }

@media (max-width: 414px) {
  footer {
    margin: 0 20px;
    width: 360px;
    border-top: solid 1px #d2d2d2; }
    footer .footerBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      padding-bottom: 68px;
      border-bottom: solid 1px #d2d2d2; }
      footer .footerBlock .footerHeading {
        margin-top: 31px;
        font-family: "Futura";
        font-size: 25px;
        font-weight: 500;
        line-height: 1.52;
        letter-spacing: 2px; }
      footer .footerBlock .footerContacts {
        margin-top: 42px;
        width: 223px;
        height: 135px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        footer .footerBlock .footerContacts p {
          font-family: "FuturaDemiC";
          font-size: 16px;
          line-height: 1.88;
          letter-spacing: 2px; }
    footer .footerCopyright {
      margin-top: 25px;
      padding-bottom: 34px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-family: "HelveticaNeue";
      font-size: 14px;
      color: #c5c5c5; }
      footer .footerCopyright #yearCaption {
        width: 100vw; }
      footer .footerCopyright #sulliwanCaption {
        margin-top: 24px; }
      footer .footerCopyright #orientirCaption {
        margin-top: 24px;
        margin-right: 37px; } }

@media (min-width: 1440px) {
  .home:first-of-type {
    padding-top: 340px; }
  .home {
    margin: 0 auto;
    width: 1200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .home p {
      margin-top: 111px;
      width: 100%;
      font-family: "ThemaCy-Lt";
      font-size: 80px;
      line-height: 1.13;
      text-align: center; }
    .home .projectButton {
      margin: 98px auto 196px auto;
      width: 240px;
      height: 70px;
      border: solid 1px #979797;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: "FuturaDemiC";
      font-size: 16px;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .home {
    margin: 0 auto;
    width: 960px; }
    .home p {
      margin-top: 72px;
      width: 100%;
      font-family: "ThemaCy-Lt";
      font-size: 60px;
      line-height: 1.33;
      text-align: center; }
    .home .projectButton {
      margin: 48px auto 100px auto;
      width: 240px;
      height: 70px;
      border: solid 1px #979797;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: "FuturaDemiC";
      font-size: 16px;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase; } }

@media (max-width: 420px) {
  .home {
    margin: 0 20px;
    max-width: 360px; }
    .home p {
      margin-top: 92px;
      margin-right: 20px;
      width: 100%;
      font-family: "ThemaCy-Lt";
      font-size: 30px;
      line-height: 1.33;
      text-align: center; }
    .home .projectButton {
      margin: 58px auto 185px auto;
      width: 240px;
      height: 70px;
      border: solid 1px #979797;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: "FuturaDemiC";
      font-size: 16px;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase; } }

@media (min-width: 1440px) {
  .project:first-of-type {
    margin-top: 340px; }
  .project {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 1097px;
    border-bottom: solid 1px #cdcdcd; }
    .project .projectArrows {
      position: absolute;
      right: 0;
      top: 33px; }
      .project .projectArrows .projectArrowPrev {
        display: inline-block;
        width: 88px;
        height: 15px;
        margin-right: 33px;
        background-image: url(../img/arrowLeft.svg); }
      .project .projectArrows .projectArrowNext {
        display: inline-block;
        width: 88px;
        height: 15px;
        background-image: url(../img/arrowRight.svg); }
    .project .projectDescription {
      top: 204px;
      position: absolute;
      z-index: 2; }
      .project .projectDescription h1 {
        font-family: "ThemaCy-Lt";
        font-size: 90px; }
      .project .projectDescription h2 {
        font-family: "FuturaDemiC";
        font-size: 16px;
        letter-spacing: 2px;
        color: #b4b4b4;
        text-transform: uppercase; }
      .project .projectDescription p {
        margin-top: 101px;
        width: 480px;
        font-family: "HelveticaNeue";
        font-size: 18px;
        line-height: 1.67;
        color: #1d1d1d; }
      .project .projectDescription .projectButton {
        margin-top: 52px;
        width: 240px;
        height: 70px;
        border: solid 1px #979797;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: "FuturaDemiC";
        font-size: 16px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase; }
    .project .projectPreview {
      position: absolute;
      width: 601px;
      height: 881px;
      -o-object-fit: contain;
      object-fit: contain;
      right: 0px;
      top: 100px; }
    .project .projectPreviewMob {
      display: none; }
    .project:last-of-type {
      border: 0px;
      height: 1200px; }
      .project:last-of-type .projectDescription {
        top: 302px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .project:first-of-type {
    margin-top: 260px; }
  .project {
    margin: 0 auto;
    position: relative;
    width: 960px;
    height: 700px;
    border-bottom: solid 1px #cdcdcd; }
    .project .projectArrows {
      position: absolute;
      right: 0;
      top: 33px; }
      .project .projectArrows .projectArrowPrev {
        display: inline-block;
        width: 88px;
        height: 15px;
        margin-right: 33px;
        background-image: url(../img/arrowLeft.svg); }
      .project .projectArrows .projectArrowNext {
        display: inline-block;
        width: 88px;
        height: 15px;
        background-image: url(../img/arrowRight.svg); }
    .project .projectDescription {
      top: 41px;
      position: absolute;
      z-index: 2; }
      .project .projectDescription h1 {
        font-family: "ThemaCy-Lt";
        font-size: 90px; }
      .project .projectDescription h2 {
        font-family: "FuturaDemiC";
        font-size: 16px;
        letter-spacing: 2px;
        color: #b4b4b4;
        text-transform: uppercase; }
      .project .projectDescription p {
        margin-top: 101px;
        width: 480px;
        font-family: "HelveticaNeue";
        font-size: 18px;
        line-height: 1.67;
        color: #1d1d1d; }
      .project .projectDescription .projectButton {
        margin-top: 52px;
        width: 240px;
        height: 70px;
        border: solid 1px #979797;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: "FuturaDemiC";
        font-size: 16px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase; }
    .project .projectPreview {
      position: absolute;
      -o-object-fit: contain;
      object-fit: contain;
      right: 0px;
      top: 70px;
      width: 360px;
      height: 528.5px; }
      .project .projectPreview img {
        width: 360px;
        height: 528.5px; }
    .project .projectPreviewMob {
      display: none; }
    .project:last-of-type {
      border: 0px;
      height: 750px; }
      .project:last-of-type .projectDescription {
        top: 49px; } }

@media (max-width: 420px) {
  .project:first-of-type {
    margin-top: 110px; }
  .project {
    margin: 0 auto;
    position: relative;
    width: 360px; }
    .project .projectArrows {
      display: none; }
    .project .projectDescription {
      margin-top: 15px;
      margin-bottom: 61px; }
      .project .projectDescription h1 {
        font-family: "ThemaCy-Lt";
        font-size: 50px; }
      .project .projectDescription h2 {
        margin-top: 7px;
        font-family: "FuturaDemiC";
        font-size: 12px;
        letter-spacing: 2px;
        color: #b4b4b4;
        text-transform: uppercase; }
      .project .projectDescription p {
        margin-top: 26px;
        width: 321px;
        font-family: "HelveticaNeue";
        font-size: 16px;
        line-height: 1.88;
        color: #1d1d1d; }
      .project .projectDescription .projectButton {
        margin: 41px auto 0 auto;
        width: 320px;
        height: 70px;
        border: solid 1px #979797;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: "FuturaDemiC";
        font-size: 16px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase; }
    .project .projectPreview {
      display: none; }
    .project .projectPreviewMob img {
      width: 360px;
      height: 290px;
      -o-object-fit: cover;
      object-fit: cover;
      overflow: hidden; }
    .project:last-of-type {
      margin-bottom: 100px; } }
